.main-img {
  height: 445px;
  width: 750px;
  border-radius: 10px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
}
.abt-info > span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.techstack {
  height: 336px;
}
.col {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.img {
  height: 96px;
  width: 170px;
}
li {
  list-style-type: none;
}
.selected {
  background: #b84143;
  color: white;
}
.user-img {
  border-radius: 15px;
}
.disable {
  z-index: -1;
}
.social > a {
  font-size: 18px;
  color: #b84143;
}
@media (max-width: 1024px) {
  .full-width > *,
  .full-width {
    width: 100%;
    font-size: 18px;
  }
  .page {
    gap: 5px;
  }
}
@media (max-width:500px){
  .img-bg{
  width: fit-content !important;
  height: 250px !important;}
  
}
@media (max-width: 768px) {
  .abt-info {
    align-items: flex-start;
  }
.project-img{
  transform: scale(0.75);
}
}
.project-img {
  max-width: 535px;
  max-height: 325px;
}
.img-bg {
  width: 600px;
  height: 450px;
}
/* Careers */
.job-box {
  width: 315px;
  height: 240px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.keyword{
  border-radius: 4px;
  max-width: max-content;
}
.product-img{
  width: 730px;
height: 582px;
}

.product-header{
  width: fit-content;
  max-width: 730px;
}
.product-header > *{
  width: 100%;
  padding: 0 5px ;
}
.nav2{
  background-color:#165EAD;
}
.navigate-btn{
  width: 80px;
  height: 80px;
  box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  font-size: 20px;
  right: 10vw;
  top:10vh;
  position: absolute;
}
.custom-contact{
  background-color: white !important;
  padding:10px 0;
  margin-top: -5em;
}
.custom-contact .pattern{
  display: none;
}
.custom-contact span{
  color: #165EAD;
}.client-img{
  /* transform: scale(0.75); */
  flex: 1;
  width: 140px;
}